@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/subset-BebasNeueBold.woff2') format('woff2'),
        url('../fonts/subset-BebasNeueBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/subset-BebasNeueRegular.woff2') format('woff2'),
        url('../fonts/subset-BebasNeueRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}